@font-face {
    font-family: 'Cafe24Ohsquare';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Ohsquare/Cafe24Ohsquare.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Ohsquare/Cafe24Ohsquare.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Ohsquare/Cafe24Ohsquare.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Ohsquare/Cafe24Ohsquare.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Ohsquare/Cafe24Ohsquare.ttf') format("truetype");
    font-display: swap;
}